.mainCard-container {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container {
    width: 33.3%;
    height: 59.3%;
    min-width: 410px;
    min-height: 500px;
    background-color: #0B0819;
}

.form {
    margin: 40px;
    /* border: 1px solid red; */
}

.row-1 {
    margin: 20px 0 20px 0;
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.value p {
    color: #C5C5C5;
    font-weight: 400;
    font-size: 14px;
}

.value h3 {
    color: #627EEA;
    font-weight: 600;
    font-size: 24px;
}

.select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1731;
    border-radius: 10px;
    height: 60px;
    margin-top: 24px;
    padding: 0 20px 0 20px;
}

.token {
    display: flex;
    align-items: center;
}

.token img {
    width: 3rem;
    height: 3rem;
}

.token span {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-left: 8px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.row-2 span {
    color: #DCDCEC;
    font-weight: 400;
    font-size: 14px;
}

.inputWithNumber input {
    border: 1px solid rgba(110, 86, 248, 0.25);
    border-radius: 5px;
    height: 60px;
    background-color: #0B0819;
    margin: 16px 0 0 0;
    color: #DCDCEC;
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
}

.inputWithNumber input:focus {
    outline: none;
}

.inputWithNumber input::-webkit-inner-spin-button {
    display: none;
}

.inputWithNumber {
    position: relative;
}

.inputWithNumber span {
    position: absolute;
    right: 0;
    top: 17px;
    padding:20px;
    color: #aaa;
    transition: 0.3s;
    font-weight: 400;
    font-size: 16px;
}

.row-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.row-3 span {
    color:#DCDCEC;
    font-weight: 400;
    font-size: 14px;
}

.row-3 input {
    border: 1px solid rgba(110, 86, 248, 0.25);
    border-radius: 5px;
    height: 60px;
    background-color: #0B0819;
    margin: 16px 0 0 0;
    color: #DCDCEC;
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
}

.row-3 input:focus {
    outline: none;
}

.row-3 input::-webkit-inner-spin-button {
    display: none;
}

.form button {
    width: 100%;
    height: 50px;
    background: linear-gradient(94.37deg, #3387D5 -5.94%, #7A06C9 115.34%);
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 20px;
}

